{% extends 'ASFSchedulerBundle::layout.html.twig' %}

{% block asf_scheduler_content %}

	{% for button in buttons %}
		<a class="btn btn-default" href="{{ path(button.href) }}" title="{{ button.title }}">{{ button.title }}</a>
	{% endfor %}

	<div id="calendar-holder"></div>    
{% endblock %}