{% extends 'ASFSchedulerBundle::layout.html.twig' %}

{% trans_default_domain 'asf_scheduler' %}

{% block title %}{{ 'Edit: %name%'|trans({'%name%': cat_event.getTitle()}) }}{% endblock %}

{% block asf_scheduler_content %}
    
    <h1>{{ 'Edit: %name%'|trans({'%name%': cat_event.getTitle()}) }}</h1>
    
	{{ form(form) }}
	
{% endblock %}